Programming for DHCSS Exercises: Week 2. Branching and Iteration

In [ ]:
### Problem 1 ###

### Using the variables below, write a code that generates the following string: "umbrella ella ella ella "

once = "umbr"
repeat = "ella"

### Write your code here

once + (4 * (repeat + " "))

'umbrella ella ella ella '

In [ ]:
### Problem 2 ###

### Using a for loop write a code that counts the number of characters in the string named "example_string"

example_string = "World’s largest rice exporter’s abrupt ban has triggered global panic - but its own farmers are bearing the brunt"

### Start with a counter variable

count = 0

### Write your code here

count = 0
for char in example_string:
  count += 1
print(count)
print(len(example_string))

113
113

In [ ]:
### Problem 3 ###

### Suppose you wanted to multiply a number (here, 1) by 2 and keep iterating that until the product of the numbers exceeds 150

### Use a while loop and print the result (the multipied number) from each iteration

number = 1

### Write your code here

while number < 150:
  print(number)
  number = number * 2

1
2
4
8
16
32
64
128

In [ ]:
### Problem 4 ###

### Write a for loop which prints "Hello!, " plus each name in the following list. i.e.: "Hello, Sam!"

lst = ["Sam", "Lisa", "Micha", "Dave", "Wyatt", "Emma", "Sage"]

### Also, do the same but only when the name invovles "e" (you can use "in" operator for this)

### Write your code here

for i in lst:
    print("Hello, " + i + "!" + "\n")

for i in lst:
  if "e" in i:
    print("Hello, " + i + "!")

Hello, Sam!

Hello, Lisa!

Hello, Micha!

Hello, Dave!

Hello, Wyatt!

Hello, Emma!

Hello, Sage!

Hello, Dave!
Hello, Sage!

In [ ]:
### Problem 5 ###

### You will get data on news articles.

### Write a for loop to go through the "month" column and count the number of articles that were published in April or December

### Run this code to get the data

import pandas as pd # import pandas library shortened as pd
url = "https://github.com/taegyoon-kim/programming_dhcss_23fw/raw/main/week_2/news_category.xlsx" # string containig the url
df = pd.read_excel(url) # read_excel function to read xlsx files

### Check the data

print(type(df))
print(df.head(5)) # method that shows the first N (=5) rows of the data
print(df.dtypes) # data type for each column

### The "month" column can be accessed like the following

df['month']

### Write your code here

count = 0
for i in df['month']:
  if i == '4.0' or i == '12.0':
    count += 1

print(count)

<class 'pandas.core.frame.DataFrame'>
      id                                      human_summary     publication  \
0  17283  In successfully seeking a temporary halt in th...  New York Times
1  17284  Officers put her in worse danger some months l...  New York Times
2  17285  The film striking appearance had been created ...  New York Times
3  17286  The year was only days old when the news came ...  New York Times
4  17287  If North Korea conducts a test in coming month...  New York Times

                          author        date    year month          theme  \
0                     Carl Hulse  2016-12-31  2016.0  12.0       politics
1  Benjamin Mueller and Al Baker  2017-06-19  2017.0   6.0          crime
2                   Margalit Fox  2017-01-06  2017.0   1.0  entertainment
3               William McDonald  2017-04-10  2017.0   4.0  entertainment
4                  Choe Sang-Hun  2017-01-02  2017.0   1.0       politics

                                             content
0  WASHINGTON  —   Congressional Republicans have...
1  After the bullet shells get counted, the blood...
2  When Walt Disney’s “Bambi” opened in 1942, cri...
3  Death may be the great equalizer, but it isn’t...
4  SEOUL, South Korea  —   North Korea’s leader, ...
id                int64
human_summary    object
publication      object
author           object
date             object
year             object
month            object
theme            object
content          object
dtype: object
16

In [ ]:
df['month'].value_counts()

1.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              654
2.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              310
4.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               13
3.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               12
6.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                4
12.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               3
5.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                3
AMSTERDAM — Pedram Paragomi, a Iranian medical student, was excited about his first trip to the United States.\n\nMr. Paragomi and six other Iranians remained stranded at Schiphol Airport outside Amsterdam on Tuesday, as their travel ordeal stretched into its fourth day.\n\nThe largely spontaneous and spirited protests at American airports over the weekend focused on several aspects of Mr. Trump’s order, including a ban on all refugees, an indefinite ban on Syrian refugees and an attempt — later blocked by judges — to deport people with valid visas or refugee status who had already arrived in the United States.\n\nThe seven Iranians stuck in Amsterdam were pulled aside on Saturday by United States agents stationed at the airport.\n\nOne man in the group went to pray at the airport’s meditation center, where he met an airport official who introduced the group to a Dutch pastor who offered to help.      1
Name: month, dtype: int64

In [ ]:
### Problem 6 ###

### Use the same data to write a code that counts the number of articles by "theme" using a for loop and if, elif, and else statements

### Use the following counters for each category: Politics, Entertainment, and Others

count_politics = 0
count_entertainment = 0
count_others = 0

### Write your code here

for theme in df['theme']:
    if theme == 'politics':
        count_politics += 1
    elif theme == 'entertainment':
        count_entertainment += 1
    else:
        count_others += 1

print(count_politics, count_entertainment, count_others)

print(df['theme'].value_counts())

324 153 523
politics         324
business         208
entertainment    153
crime            110
lifestyle         78
law               41
sports            30
science           25
technology        18
architecture       4
accidents          4
art                2
health             2
environment        1
Name: theme, dtype: int64

In [ ]:
# Problem 7

### With the same data, write a for loop code to creaet a list containing the word count for articles

### Exclude articles with too few words (<50) or too many words (>500)

### You create an empty list named "word_counts" and append the word count from each iteration (you can use "append" method within the loop)

word_counts = []

### See below for how append() works

empty_lst = []
for i in range(0, 3):
  empty_lst.append(i)
print(empty_lst)

### Use split() method to parse an article text into words

text = 'this is a text'
text_spt = text.split()
print(text_spt)

### Skip the outliers usings statements like break, continue, or pass (<50 or >500)

### Write your code here

for content in df['content']:

    word_count = len(content.split())

    if word_count < 50 or word_count > 500:
        continue

    word_counts.append(word_count)

average_word_count = sum(word_counts) / len(word_counts)
print(average_word_count)

import numpy as np # alternatively use np.mean()
average_word_count2 = np.mean(word_counts)
print(average_word_count2)

[0, 1, 2]
['this', 'is', 'a', 'text']
384.75555555555553
384.75555555555553

In [ ]:
### Problem 8 ###

### You are given two lists, one containing names of fruits and the other containing their corresponding colors.

### Write a for loop code that prints a statement like the following

### E.g.,: "The color of Apple is Red."

### If the fruit's name is great than 5 characters, just print "Too long."

### Consider using "zip()"

fruits = ['Apple', 'grape', 'Cherry', 'Avocado']
colors = ['Red', 'Green', 'Red', 'Brown', 'Green']

### Write your code here

for fruit, color in zip(fruits, colors):
  if len(fruit) <= 5:
    print(f"The color of {fruit} is {color}.")
  else:
    print("Too long")

The color of Apple is Red.
The color of grape is Green.
Too long
Too long

In [ ]:
### Problem 9 ###

### Write a code that extracts hashtags from the following list of tweet texts

### Hashtags in tweets are words that start with the symbol #

### You are given a list of tweet texts

tweets = [
    "Learning Python is fun! #Python #coding",
    "Data science is awesome. #datascience #machinelearning",
    "Artificial Intelligence: The future! #AI #future",
    "Study at KAIST for #CT #DHCSS #DS"]

### Initialize an empty list to store hashtags (and append exracted hashtags to it!)

hashtags = []

### Use a for loop to iterate through tweets

### Inside the loop, use another for loop to iterate through words in a given tweet

### Use conditional statements to identify whether a word is a hashtag

### Hint I: use split a tweet into a list of words using split() method

### Hint II: use startswith() method to see if a word is a hashtag or not

### Write your code here

for tweet in tweets:
    words = tweet.split() # Split the tweet into words
    # Use another for loop to iterate through each word in the tweet
    for word in words:
        if word.startswith('#'): # Identify whether a word is a hashtag
            hashtags.append(word) # Append the cleaned hashtags to the list

print(hashtags)

['#Python', '#coding', '#datascience', '#machinelearning', '#AI', '#future', '#CT', '#DHCSS', '#DS']
9

In [ ]:
### Problem 10

### You are given a list of comments from social surveys conducted in different communities

### The comments can be categorized as "Positive," "Neutral," or "Negative" based on specific keywords

### Your task is to count how many comments fall under each category for each community and print the counts

### If a comment contains the word "good," categorize it as "Positive" & If a comment contains the word "bad," categorize it as "Negative" & If a comment contains neither, categorize it as "Neutral"

### Use a nested for loop to iterate through the list of communities and their comments

### Use if-elif-else statements to categorize each comment

### Count the number of comments in each category for each community

### Write your code here

# Sample comments from social surveys in different communities
community_comments = {
    "Community A": ["This place is so good!", "I had a bad experience."],
    "Community B": ["It's an average community.", "Good people around."],
    "Community C": ["Not good, not bad.", "I love it here!"]
    }

# Iterate through each community and its list of comments
for community, comments in community_comments.items():
    # Initialize counters for each category
    positive_comments = 0
    neutral_comments = 0
    negative_comments = 0

    # Categorize each comment within the community
    for comment in comments:
        if "good" in comment.lower():
            positive_comments += 1
        elif "bad" in comment.lower():
            negative_comments += 1
        else:
            neutral_comments += 1

    # Print the counts for each category in the current community
    print(f"{community}:")
    print(f"  Positive Comments: {positive_comments}")
    print(f"  Neutral Comments: {neutral_comments}")
    print(f"  Negative Comments: {negative_comments}")
    print()  # Add an empty line for better readability

Community A:
  Positive Comments: 1
  Neutral Comments: 0
  Negative Comments: 1

Community B:
  Positive Comments: 1
  Neutral Comments: 1
  Negative Comments: 0

Community C:
  Positive Comments: 1
  Neutral Comments: 1
  Negative Comments: 0